<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
<connectionStrings><add name="ClinicaWebEntities" connectionString="metadata=res://*/ClinicaWebBD.csdl|res://*/ClinicaWebBD.ssdl|res://*/ClinicaWebBD.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ALFEBER-PC\SQLEXPRESS;Initial Catalog=ClinicaWeb;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>