.navbar {
	margin-bottom: 0;
}

#login-FEG{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}

#login-FEG .help-block{
    font-size:12px    
}

#login-FEG .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}

#login-FEG .form-group {
    margin-bottom: 10px;
}

@media(max-width:768px){ 
    #login-FEG{
        background-color: inherit;
        color: #fff;
    }
    #login-FEG .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}