.navbar {
	margin-bottom: 0;
}

#login-FEG{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,8);
}

#login-FEG .help-block{
    font-size:12px    
}

#login-FEG .bottom{
    background-color:rgba(255,255,255,8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}

#login-FEG .form-group {
    margin-bottom: 10px;
}

@media(max-width:768px){ 
    #login-FEG{
        background-color: inherit;
        color: #fff;
    }
    #login-FEG .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

#login-FEG .form-group {
    margin-bottom: 10px;
}

#Mapa
{
float:right;
text-align: center;
margin-top: 20px;
}


  .style3
        {
            color: rgb(0, 0, 153);
        }
        .style4
        {
            font-size: medium;
        }
        .style6
        {
            font-size: small;
        }
        .style7
        {
            color: #FF0000;
        }
        .style8
        {
            color: #000000;
        }
        .style11
        {
            text-align: center;
            color: #000000;
        }
        .style12
        {
            font-size: small;
            font-family: Geneva, Tahoma, "Nimbus Sans L", sans-serif;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            letter-spacing: normal;
            line-height: 16.2px;
            text-align: justify;
            text-indent: 0px;
            text-transform: none;
            white-space: normal;
            word-spacing: 0px;
            margin-top: 10px;
            margin-bottom: 15px;}
            
           #contactoimg
           {
               float:right;
               margin-top: 30px;
               height: 260px;
               width:inherit;
            }

.contentC
{
    width:500px;width:500px;
    float:left;
 }
    
#campos{


	width: 300px;
}

.form-group
{
    padding:10px;  
}

.form-horizontal
   {
    padding:10px;  
}
.FAgregar
{
    margin-top:50px;
    margin-left:100px;
    }

.FEditar
{  
    margin-top:-33px;
    margin-left:200px;
    }

.FEliminar
{
    margin-top:-34px;
    margin-left:285px;
     }
     
.Botones
{
    margin-left: 130px;
    
    }

#GridView1
{    text-align: center;
     margin-top : -100px;
     margin-left: 90px;
}

.FormView1
{
    position:relative;
    margin-left:700px;
    margin-top:-230px;
    width:344px;
    border-collapse:inherit;
    top: 0px;
    left: 0px;
}
    
.imgResgistro
{   
    margin-top: 30px;
    width:612px;
    }    
    
  .Griew
  {
      margin-left:50px;
      margin-top:-30px;
      
      }
      
   .ImgPrincipal
   {
        margin-left:65px;
    height: 263px;
    width: 924px;
}
       
  .Formulario
  {
        margin-top: -100px; 
        width:600px; 
        margin-left:20px; 
      }
       
 .btn-success
 {margin-left:45px;
  
 }